In [3]:
import pandas as pd
import numpy as np

In [4]:
# headers are not present in the csv file
headers =  ["symboling", "normalized_losses", "make", "fuel_type", "aspiration",
           "num_doors", "body_style", "drive_wheels", "engine_location",
           "wheel_base", "length", "width", "height", "curb_weight",
           "engine_type", "num_cylinders", "engine_size", "fuel_system",
           "bore", "stroke", "compression_ratio", "horsepower", "peak_rpm",
           "city_mpg", "highway_mpg", "price"]

# UCI machine learning datasets 
df_raw = pd.read_csv("http://mlr.cs.umass.edu/ml/machine-learning-databases/autos/imports-85.data",
                     header=None,names=headers, na_values="?" )
'''
head functionality
1. head bydefault it shows 5 rows
2. we can give no'of rows to show in head as a parameter
3. Head will always return the top rows
df_raw.head()
'''
# To show the maximum rows in the output 
pd.set_option('display.max_row', 1000)

# To get the unique values in the one coulumn
df_raw.make.unique()

array(['alfa-romero', 'audi', 'bmw', 'chevrolet', 'dodge', 'honda',
       'isuzu', 'jaguar', 'mazda', 'mercedes-benz', 'mercury',
       'mitsubishi', 'nissan', 'peugot', 'plymouth', 'porsche', 'renault',
       'saab', 'subaru', 'toyota', 'volkswagen', 'volvo'], dtype=object)

In [5]:
df_raw.head(1)

,symboling,normalized_losses,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0

In [28]:
df_raw.body_style.unique()

different body styles:

array(['convertible', 'hatchback', 'sedan', 'wagon', 'hardtop'],
      dtype=object)

In [6]:
# To select only the perticular companies
# Isin funct always gives the boolean output based on the giving the this boolean values to original set will
# give the selected output. 
list_to_show=['jaguar', 'mazda','toyota', 'volkswagen', 'volvo','audi', 'bmw']
# uncomment below line to see actual output
df_raw[df_raw.make.isin(list_to_show)]

In [7]:
# using the cross tab function to find the different combination in between product maker vs body styles
# eg: audi make covertible 2 , hardtop 0, hatchback 1 , sedan 0, wagon 0,
# pd.crosstab([df_raw.make, df_raw.body_style],df_raw.num_doors)
pd.crosstab(df_raw.make, df_raw.body_style)

# it will first match the all combination in make and body_styles then the resultant will get the all combinations of 
# num_doors(four and two)

In [8]:
# groupby to obtain the same output of crosstab
df_raw.groupby(['make', 'body_style'])['make'].count()

In [9]:
# groupby with respective the output same as cross tab will take more extra steps to achieve
df_raw.groupby(['make', 'body_style'])['make'].count().unstack().fillna(0)

In [10]:
# Implementation of crosstab functionality with pivot table.
'''
pivot table simple function but can produce very powerful analysis
'''
df_raw.pivot_table(index='make', columns='body_style', aggfunc={'body_style':len}, fill_value=0)

'\npivot table simple function but can produce very powerful analysis\n'

In [11]:
# using of aggrgate function with pivot table
df_raw.pivot_table(index=['make',], values= ['price'],aggfunc= np.sum, fill_value=0)